	<div class="search">
		<div class="search-criteria">
			<form class="search-form" name="autoSearch" data-search="form">
				<h1 class="search-form__caption">
					Уточнить критерии поиска
				</h1>
				<div class="search-parameters">
					<div class="search-parameters-type">
						<label class="search-parameters__type">
							Тип транспорта
						</label>
						<select class="search-parameters__select" name="category" data-select="category">
							<option value="0">
								Любой
							</option>
							<option value="0">
								Любой
							</option>
							<option value="0">
								Любой
							</option>
						</select>
					</div>
					<div class="search-parameters-brand">
						<label class="search-parameters__brand">
							Марка
						</label>
						<select class="search-parameters__select" name="mark" data-select="mark">
							<option value="0">
								Марка
							</option>
						</select>
					</div>
					<div class="search-parameters-model">
						<label class="search-parameters__model">
							Модель
						</label>
						<select class="search-parameters__select" name="model" data-select="model">
							<option value="0">
								Модель
							</option>
						</select>
					</div>
					<div class="search-parameters-button">
						<button class="search-parameters__button" data-submit="search" type="submit">
							поиск
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="search-info">
			<ul class="search-info-list">
				<li class="search-info-list__item">Сохраняйте интересные предложения</li>
				<li class="search-info-list__item">Будьте первыми, кто узнает о выгодных предложениях</li><img src="" alt="">
				<li class="search-info-list__item">Быстро связывайтесь с продавцами</li>
			</ul>
		</div>
	</div>
    <div class="search-results-wrapper"></div>