<div id="popup" class="dark is-not-displayed" data-auth="background">

    <div class="authorization is-not-displayed" data-auth="form">
        <form class="authorization-reg-form is-not-displayed" data-auth="form-signup" action="" method="GET">
            <a class="authorization-reg-form-sign-in" href="" data-auth="form-signup-to-login">Войти в аккаунт</a>
            <h2 class="authorization-reg-form-header">Регистрация</h2>
            <input  class="authorization-reg-form-input" type="email" placeholder="e-mail">
            <input  class="authorization-reg-form-input" type="password" placeholder="Пароль">
            <input  class="authorization-reg-form-input last" type="password" placeholder="Повторите пароль">
            <input  class="authorization-reg-form-checkbox" type="checkbox" id="remember-me">
            <label  class="authorization-reg-form-checklabel" for="remember-me">
                Запомнить меня
            </label>
            <input  class="authorization-reg-form-submit" type="submit" value="OK">
        </form>
        <form class="authorization-sign-in-form is-not-displayed" data-auth="form-login" action="" method="GET">
            <a class="authorization-sign-in-form-reg" href="" data-auth="form-login-to-signup">Регистрация</a>
            <h2 class="authorization-sign-in-form-header">Войти в аккаунт</h2>
            <input  class="authorization-sign-in-form-input" type="email" placeholder="e-mail">
            <input  class="authorization-sign-in-form-input last" type="password" placeholder="Пароль">
            <input  class="authorization-sign-in-form-checkbox" type="checkbox" id="remember-me">
            <label  class="authorization-sign-in-form-checklabel" for="remember-me">
                Запомнить меня
            </label>
            <input  class="authorization-sign-in-form-submit" type="submit" value="OK">
        </form>

    </div>

</div>