@import "../../const";

.search {
	position: relative;
	margin: 0 auto $item-margin-bottom;
	padding: $item-padding;
	width: $search-pannel-width;
	height: $item-height;
	background: url(img/shadow.png) no-repeat center;

	&-criteria {
		float: left;
	}

	&-form {

		&__caption {
			color: $border-color;
			font-size: $font-size-main-text + 2;
			font-weight: 200;
			text-transform: uppercase;
		}
	}

	&-parameters {
		margin-top: $item-margin-bottom - 20;
		text-align: right;
		
		&__type, &__brand, &__model {		
			padding-right: 40px;
			width: 125px;
			display: inline-block;
		}

		&__type {
			background: url($sprite) no-repeat 100% 5px;
		}

		&__brand {
			background: url($sprite) no-repeat 100% -36px;
		}

		&__model {
			background: url($sprite) no-repeat 100% -76px;
		}

		&__select {
			margin: 5px 0 10px 5px;
			padding: 0 0 0 5px;
			width: 250px;
			height: 28px;
			border-radius: $border-radius-small;
			border: 1px solid rgba($header-menu-item-color, .5);
			background: url($sprite) no-repeat 230px -615px;
			cursor: pointer;
			outline: none;
			color: $select-color;
    			-webkit-appearance: none;
    			   -moz-appearance: none;
    					appearance: none;
		}

		&__button {
			padding: 8px 12px 7px 35px;
			clear: both;
			float: left; 
			margin: 5px 0 0 173px;
			border: none;
			border-radius: $border-radius-small;
			background: url($sprite) no-repeat 7px -645px $border-color;
			outline: none;
			cursor: pointer;
			font-weight: lighter;
			text-transform: uppercase;
			color: $background-color;
		}
	}
	
	&-info {
		float: right;

		&-list {
			margin-top: $item-margin-bottom + 15;

			&__item {
				margin: 15px 0;
				list-style: none;
				padding-left: 25px;
				background: url($sprite) no-repeat left -222px;
			}
		}
	}
} 
