@import "../../const";

.search {
	height: $item-height;
	margin: 0 auto $item-margin-bottom;
	padding: $item-padding;
	position: relative;
	width: $search-pannel-width;

	&-criteria {
		float: left;
		margin-left: $item-margin-bottom+10;
	}

	&-form {

		&__caption {
			font-size: $font-size-main-text + 2;
			font-weight: 200;
			text-transform: uppercase;
			color: $border-color;
		}
	}

	&-parameters {
		margin-top: $item-margin-bottom - 20;
		text-align: right;

		&__title {
			margin-bottom: 10px;
		}

		&__select {
			margin-left: 50px;
			margin-bottom: 10px;
			color: $select-color;
			width: 250px;
			height: 30px;
			border-radius: $border-radius-small;
			cursor: pointer;
			outline: none;
			padding-left: 5px;
			background: url($sprite) no-repeat right -615px;
			-moz-appearance: window;
    			-webkit-appearance: none;
    			appearance: none;
		}

		&__button {
			left: -204px;
			position: relative;
		}
	}
	
	&-shadow-separator {
		background: url(img/shadow.png) no-repeat;
		height: 238px;
		float: right;
		left: -555px;
		width: 15px;
		position: relative;
	}
	
	&-info {
		float: right;

		&-list {
			margin-top: $item-margin-bottom + 10;

			&__item {
				margin: 12px 0;
				list-style: none;
				padding-left: 25px;
				background: url($sprite) no-repeat left -222px;
			}
		}
	}
} 