@import "../const";

.header{
	border-bottom: 1px solid $border-color;
	height: $header-height;
	margin: 0 auto;
	position: relative;
	width: $wrapper-big-width;

	&-wrapper{
		height: $header-height;
		margin: 0 auto;
		position: relative;
		width: $wrapper-small-width;
	}

	&-authorization{

		&-button{
			background: $header-menu-item-color;
			border-radius: 0 0 $border-radius-small $border-radius-small;
			color: $background-color;
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			font-size: $font-size-main-text;
			height: 20px;
			line-height: 20px;
			margin-right: 10px;
			padding: 0 20px;
			border: none;
			outline: none;
			&:hover{
				background: $border-color;
			}
		}


	}

	&-logo{
		position: absolute;
		top: 30px;
	}
	
	&-menu{
		bottom: 0;
		position: absolute;
		right: 0;

		&-item{
			background: $header-menu-item-color;
			border-radius: $border-radius-small $border-radius-small 0 0;
			color: $background-color;
			cursor: pointer;
			display: inline-block;
			font-size: $font-size-main-text;
			height: 25px;
			line-height: 25px;
			margin-left: 20px;
			padding: 5px 20px;
			text-align: center;
			text-decoration: none;

			&-wishlist{
				padding-right: 40px;
				background-image: url($sprite);
				background-repeat: no-repeat;
				background-position: right -104px;
			}

			&.active{
				background-color: $border-color;
			}
		}
	}
}

// Apple iPad/iPad Mini (portrait)
@media (max-width: 768px) {
	.header {
		width: 100%;

		&-wrapper {
			width: 100%;
		}

		&-menu {
			margin-right: 40px;
		}

		&-logo {
			margin: 10px 0 0 20px;
		}
	}
}


@media screen and (max-width: 480px) {

body{
	margin: 0;
}

.header {
	width: 480px;
	min-width: 480px;
	margin: auto;

	&-wrapper{
		margin: 0 auto;
		position: relative;
		width: 400px;
	}

	&-logo{
		top: 10px;

	}

	&-menu{
		right: 0px;
	}
}
}