<header class="header">
	<div class="header-wrapper">
		<div class="header-logo">
			<img src="../img/logo.png" alt="myAUTO">
			</div>
		<div class="header-menu">
			<div class="header-menu-item active">Каталог</div>
			<div class="header-menu-item header-menu-item-wishlist">Список желаний</div>
		</div>
	</div>
</header>
