<header class="header">
	<div class="header-wrapper">
		<div class="header-logo">
			<img src="../img/logo.png" alt="myAUTO">
			</div>
		<div class="header-menu">
			<a href="/#search" class="header-menu-item active">Каталог</a>
			<a href="/#wishlist" class="header-menu-item header-menu-item-wishlist">Список желаний</a>
		</div>
	</div>
</header>
