<div class="main">
	<div class="main-wraper">
		<h1 class="main-caption">Топ объявлений</h1>
		<div class="main-slider">
			<div class="main-arrow">
				<a class="main-arrow-left" href="#">&nbsp;</a>
			</div>
			<div class="main-items">
				<div class="main-big">
					<a class="main-big-link" href="#">
						<img class="main-big-img" src="https://cdn.riastatic.com/photos/auto/new_auto_storage/24/2401/240154/240154f.jpg" alt="bigCar" width="460" height="360">			
						<div class="main-liner">
							<h2 class="main-liner-name big">
								Audi Q7
							</h2>
							<b class="main-liner-price big">
								70000$
							</b>
						</div>
					</a>	
				</div>
				<div class="main-small">
					<div class="main-small-container">
						<a class="main-small-link" href="#">
							<img class="main-small-img" src="https://cdn.riastatic.com/photos/auto/new_auto_storage/25/2512/251214/251214bx.jpg" alt="smallCar" width="220" height="170">
							<div class="main-small-liner">
								<h2 class="main-liner-name">
									Subaru Legasy
								</h2>
								<b class="main-liner-price">
									8950$
								</b>
							</div>
						</a>
					</div>
					<div class="main-small-container">
						<a class="main-small-link"  href="#">
							<img class="main-small-img" src="https://cdn.riastatic.com/photosnew/auto/photo/mercedes-benz_e-class__134038002b.jpg" alt="smallCar" width="220" height="170">
							<div class="main-small-liner">
								<h2 class="main-liner-name">
									Chevrole Aveo
								</h2>
								<b class="main-liner-price">
									7500$
								</b>
							</div>
						</a>
					</div>
					<div class="main-small-container">
						<a class="main-small-link"  href="#">
							<img class="main-small-img" src="https://cdn.riastatic.com/photosnew/auto/photo/kia_rio__133186620b.jpg" alt="smallCar" width="220" height="170">
							<div class="main-small-liner">
								<h2 class="main-liner-name">
									Volkswagen Polo
								</h2>
								<b class="main-liner-price">
									14000$
								</b>
							</div>
						</a>	
					</div>
					<div class="main-small-container">
						<a class="main-small-link"  href="#">	
							<img class="main-small-img" src="https://cdn.riastatic.com/photos/auto/new_auto_storage/23/2345/234536/234536bx.jpg" alt="smallCar" width="220" height="170">
							<div class="main-small-liner">
								<h2 class="main-liner-name">
									Mercedes Benz
								</h2>
								<b class="main-liner-price">
									53900$
								</b>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="main-arrow">
				<a   class="main-arrow-right"  href="">&nbsp;</a>
			</div>
		</div>
		<div class="main-content">
			<h1 class="main-caption">
				Как добавить объявление в Список желаний?
			</h1>
			<p class="main-bottom-text">
				Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			</p>
			<p class="main-bottom-text">
				Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			</p>
			<p class="main-bottom-text">
				Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Равным образом, однако забывать, что сложившаяся структура организации играет важную роль в формировании дальнейших направлений развития.
			</p>
		</div>
	</div>
</div>
