@import "../const";

.main {
	margin: 0 auto;
	width: $wrapper-small-width;

	&-wrapper {
		position: relative;
		margin: 200px auto;
		height: $header-height;
	}

	&-items {
		float: left;
		width:  $wrapper-small-width -60;
	}

	&-caption {
		margin-bottom: 30px;
		font-size: $font-size-main-text + 2;
		font-weight: 200;
		text-transform: uppercase;
		color: $border-color;
	}

	&-arrow-left, &-arrow-right  {
		margin-top: 166px;
		float: left;
		width: 85px;
		height: 34px;
		background: url($sprite) no-repeat 50% -262px;
		text-decoration: none;
	}

	&-arrow-right {
		transform: rotate(180deg);
	}

	&-big {
		margin: 10px 10px 10px 20px;
		float: left;
		width: 460px;
		height: 360px;
		overflow: hidden;

		&-img {
			width: auto;
			height: 360;
			text-align: center;
		}

		&-link {
			display: block;
			text-decoration: none;
			color: $background-color;
		}
	}

	&-liner {
		position: relative;
		margin-top: -65px;
		background: $linear-bg-color;
		height: 65px;
		padding: 20px;

		&-name.big {
			float: left;
		}

		&-price.big {
			float: right;
			font-size: 1.5em;
		}
	}

	&-small {
		float: left;
		width: 490px;

		&-link {
			display: block;
			text-decoration: none;
		}

		&-container {
			display: block;
			margin: 10px;
			float: left;
			width: 220px;
			height: 170px;
			overflow: hidden;
		}

		&-img {
			width: auto;
			height: 170px;	
			text-align: center;
		}

		&-liner {
			position: relative; 
			display: block;
			margin-top: -65px;
			padding: 5px;
			background: $linear-bg-color;
		}
	}

	&-liner-name, &-liner-price {
		margin: 0;
		padding-left: 8px;
		font-weight: 100;
		color: $background-color;
	}

	&-liner-price {
		color: $border-color;
	}

	&-arrow {
		text-decoration: none;
	}

	&-content {
		margin: 450px 0 50px 0;
		clear: both;
		text-align: justify;
	}

	&-bottom-text {
		text-indent: 50px;
	}
}

@media screen and (max-width: 480px) {
	.main{
		display: none;
	}
}