{{#if session.isLoggedIn}}
<button href="#" data-auth="logout" class="header-authorization-button">Выйти</button>
{{else}}
<button href="#" data-auth="signUp" class="header-authorization-button">Регистрация</button>
<button href="#" data-auth="login" class="header-authorization-button login">Войти</button>
{{/if}}
