<div id="popup" class="dark is-not-displayed" data-auth="popup-background">

    <div class="authorization is-not-displayed" data-auth="form">
        <form class="authorization-reg-form is-not-displayed" data-auth="form-signup" action="" method="GET">
            <a class="authorization-reg-form-sign-in" href="" data-auth="form-signup-to-login">Войти в аккаунт</a>
            <h2 class="authorization-reg-form-header">Регистрация</h2>
            <input  class="authorization-reg-form-input" data-auth="form-signup-input-email" type="email" placeholder="e-mail">

            <div class="authorization-reg-form-error is-not-displayed" data-auth="form-signup-input-email-error"></div>

            <input  class="authorization-reg-form-input" data-auth="form-signup-input-pass" type="password" placeholder="Пароль">

            <div class="authorization-reg-form-error is-not-displayed" data-auth="form-signup-input-password-error"></div>

            <input  class="authorization-reg-form-input" data-auth="form-signup-input-pass-repeat" type="password" placeholder="Повторите пароль">

            <div class="authorization-reg-form-error is-not-displayed" data-auth="form-signup-input-repeat-error"></div>

            <div class="authorization-reg-form-error last is-not-displayed" data-auth="form-signup-input-general-error"></div>

            <input  class="authorization-reg-form-checkbox" data-auth="form-signup-input-remember-me" type="checkbox" id="remember-me-signup">
            <label  class="authorization-reg-form-checklabel" for="remember-me-signup">
                Запомнить меня
            </label>
            <input  class="authorization-reg-form-submit" data-auth="form-signup-submit" type="submit" value="OK">
        </form>
        <form class="authorization-sign-in-form is-not-displayed" data-auth="form-login" action="" method="GET">
            <a class="authorization-sign-in-form-reg" href="" data-auth="form-login-to-signup">Регистрация</a>
            <h2 class="authorization-sign-in-form-header">Войти в аккаунт</h2>
            <input  class="authorization-sign-in-form-input"  data-auth="form-login-input-email" type="email" placeholder="e-mail">

            <div class="authorization-reg-form-error is-not-displayed" data-auth="form-login-input-email-error"></div>

            <input  class="authorization-sign-in-form-input last" data-auth="form-login-input-pass" type="password" placeholder="Пароль">

            <div class="authorization-reg-form-error is-not-displayed" data-auth="form-login-input-password-error"></div>

            <div class="authorization-reg-form-error last is-not-displayed" data-auth="form-login-input-general-error"></div>

            <input  class="authorization-sign-in-form-checkbox" type="checkbox" id="remember-me-sign-in">
            <label  class="authorization-sign-in-form-checklabel" for="remember-me-sign-in">
                Запомнить меня
            </label>
            <input  class="authorization-sign-in-form-submit" data-auth="form-login-submit" type="submit" value="OK">
        </form>

    </div>

    <div class="authorization-errors" data-auth="errors-wrapper">

    </div>
</div>