{{#if session.isLoggedIn}}
<button href="#" data-auth="logout" class="header-authorization-button">Logout</button>
{{else}}
<button href="#" data-auth="login" class="header-authorization-button">Login</button>
<button href="#" data-auth="signUp" class="header-authorization-button">SignUp</button>
{{/if}}
