<header class="header">
	<div class="header-wrapper">
		<div data-auth="wrapper" class="header-authorization">
		</div>
		<div class="header-logo">
			<a href="/#">
				<img src="../img/logo.png" alt="myAUTO">
			</a>
		</div>
		<div class="header-menu">
			<a href="/#" class="header-menu-item active" id="header-menu-item__search">Каталог</a>
			<a href="/#wishlist" class="header-menu-item header-menu-item-wishlist" id="header-menu-item__wish-list">Список желаний
				<div class="header-menu-item-wishlist-count"></div>
			</a>

		</div>
	</div>
</header>
