<footer class="footer">
	<div class="footer-wrapper">
		<ul class="footer-menu">
			<li class="footer-menu-item">myAUTO</li>
			<li class="footer-menu-item">Каталог</li>
			<li class="footer-menu-item">Список желаний</li>
			<li class="footer-menu-item">Топ объявлений</li>
			<li class="footer-menu-item">Как добавить в список желаний</li>
		</ul>
		<div class="footer-signature">myAuto - 2015 © All right reserved</div>
	</div>
</footer>