<footer class="footer">
	<div class="footer-wrapper">
		<ul class="footer-menu">
			<li class="footer-menu-item"><a href="/" class="footer-menu-item__link">myAUTO</a></li>
			<li class="footer-menu-item"><a href="#search" class="footer-menu-item__link">Каталог</a></li>
			<li class="footer-menu-item"><a href="#wishlist" class="footer-menu-item__link">Список желаний</a></li>
		</ul>
		<div class="footer-signature">myAuto - 2015 © All right reserved</div>
	</div>
</footer>