//colors
$background-color: #fff;
$border-color: #f85d49;
$price-color: #91cf26;
$course-color: #69cefa;
$text-color: #333;
$header-bg-color: rgba(154,154,154,.1);
$date-color: rgba(53,53,53,.5);

//sizes
$wrapper-big-width: 1280px;
$wrapper-small-width: 1160px;
$item-width: 740px;
$item-height: 220px;
$item-padding: 15px;
$item-margin-bottom: 50px;
$image-width: 280px;
$image-height: 190px;
$border-radius-big: 6px;
$border-radius-small: 4px;

//fonts
$font-family: Open-Sans;
$font-size-main-text: 14px;
$font-size-date: 12px;
$font-size-price: 18px;
