body {
	background: url(../img/background.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.content-wraper {
	margin: 50px auto;
	background: #fff;
	width: 1280px;
}

@media screen and (max-width: 480px) {

	body{
		margin: 0;
		background: none;
	}

	.content-wraper{
		margin: 0;
		width: 100%;
	}
}