body {
	background: url(../img/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	margin: 50px auto;
	background: #fff;
	width: 1280px;
}

// Apple iPad/iPad Mini (portrait)
@media screen and (max-width: 768px) {
	
	.content-wrapper {
		margin: 0;
		width: 768px;
	}
}

@media screen and (max-width: 480px) {

	body{
		margin: 0;
		background: none;
	}

	.content-wrapper{
		margin: 0;
		width: 100%;
	}
}