<div class="search-results"> 
	<ul class="search-results-list">
	{{#each cars}}
		<li class="search-results-list__item">
            {{{this}}}
        </li>
	{{/each}}
	</ul>
	<!--#if more-->
		<div class="search-results__more">
			Показать еще {{more}} объявлений
		</div>
	<!--/if-->
</div>